*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.div-flex {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.header-container {
  margin: 50px 0px 25px 0px;  
}

.image {  
  border-radius: 4px;
  width: 350px;
  height: 300px;
  border: solid 3px green;
}

.button-onOff {
  padding: 10px;
  width: 10%;
  border: none;
  border-radius: 6px;
  background-color: green;
  color: aliceblue;
  font-weight: 700;
  border: 2px solid black;
  opacity: 0.8;
}

.button-onOff:hover {
  cursor: pointer;
  opacity: 1;  
  font-weight: 900;
}

.counter {
  padding: 3px;
  text-align: center;
}