h1 {
  text-align: center;
  padding: 8px;
  color: rgb(49, 49, 255);
  border: 5px solid rgb(4, 0, 255);
  width: 200px;
}

.about {
  padding: 8px;
  color: black;
  text-decoration: none;
  opacity: 0.8;
  font-size: xx-large;
  font-style: italic;
}

.homepage {
    padding: 8px;
    color: black;
    text-decoration: none;
    opacity: 0.8;
    font-size: xx-large;
    font-style: italic;  
}

.about:hover {
  opacity: 1;
}